body{
    background-image: url("./images/nebula-1920x1080-stars-4k-9352.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form{
    background-color: rgb(21, 21, 37);
    opacity: 0.95;
    color: brown
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 45%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

header video {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

